<div class="main-container">
    <h3>Workout Assistant ®</h3>
</div>

<div class="parallax-window parallax-0"></div>

<div class="main-middle-container">
    <h3>Zaczynajmy!</h3>
</div>

<div class="parallax-window parallax-1"></div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">

        <ul class="nav navbar-nav navbar-left">

            <li>
                <a class="navbar-brand"
                   data-ng-href="/#!/about">
                    O nas
                </a>
            </li>

            <li>
                <a class="navbar-brand"
                   data-ng-href="/#!/contact">
                    Kontakt
                </a>
            </li>

        </ul>

    </div>
</nav>