<button data-ng-show="!$ctrl.training.reviews" data-ng-click="$ctrl.pullReviews()">Pobierz recenzje</button>

<form>

    <div>
        <input title="Rate" type="range" min="0" max="5" data-ng-model="$ctrl.newOpinion.rate"/>
        <input type="text" data-ng-model="$ctrl.newOpinion.comment" placeholder="Write comment here..."/>
    </div>

    <button type="submit"
            data-ng-click="$ctrl.addReview()">
        Dodaj opinię
    </button>

</form>

<div data-ng-repeat="review in $ctrl.training.reviews" style="border:3px black solid">
    <span>{{review.rate}}</span>
    <span>{{review.comment}}</span>
</div>