<button class="btn" data-ng-show="!$ctrl.training.reviews" data-ng-click="$ctrl.pullReviews()">Recenzje</button>


<div class="review" data-ng-show="$ctrl.training.reviews">

    <form class="review-form">
        <div class="review-item">
            <label>Twoja ocena: {{ $ctrl.newOpinion.rate }} /5</label>

            <input title="Rate"
                   type="range"
                   min="0" max="5"
                   data-ng-model="$ctrl.newOpinion.rate"/>
            <textarea class="form-control" type="text"
                      data-ng-model="$ctrl.newOpinion.comment"
                      placeholder="Twój komentarz..."><</textarea>
        </div>

        <button type="submit" class="btn btn-success review-item" data-ng-click="$ctrl.addReview()">
            Dodaj recenzję
        </button>
    </form>


    <div class="review-tile" data-ng-repeat="review in $ctrl.training.reviews">
        <div class="row review-data">
            <div class="col-sm-3 col-md-2 rate">{{review.rate}} / 5</div>
            <div class="col-sm-4 col-md-10 comment"> {{review.comment}}</div>
        </div>
    </div>
</div>