<button class="btn" data-ng-show="!$ctrl.training.reviews" data-ng-click="$ctrl.showReviews()">
    Recenzje
</button>


<div class="review" data-ng-show="$ctrl.training.reviews">

    <form class="review-form" data-ng-show="$ctrl.currentUser">
        <div class=" review-item">
            <label>Twoja ocena: {{ $ctrl.newOpinion.rate }} / {{$ctrl.maxRate}}</label>

            <input title="Rate"
                   type="range"
                   min="0" max="5"
                   data-ng-model="$ctrl.newOpinion.rate"/>

            <textarea class="form-control" data-type="text"
                      data-ng-model="$ctrl.newOpinion.comment"
                      placeholder="Twój komentarz..."><</textarea>
        </div>

        <button type="submit" class="btn btn-success review-item" data-ng-click="$ctrl.addReview()">
            Dodaj recenzję
        </button>
    </form>


    Średnia ocena : {{$ctrl.avarageRate() | number: 2}} / {{$ctrl.maxRate}}

    <div class="review-tile" data-ng-repeat="review in $ctrl.training.reviews">
        <div class="row review-data">
            <div class="col-xs-6 col-sm-6 col-md-4 rate">{{review.rate}} / {{$ctrl.maxRate}}</div>

            <a data-ng-href="/#!/users/{{review.author._id}}">
                <div class="col-xs-6 col-sm-6 col-md-4 rate">{{review.author.username}}</div>
            </a>
            <div class="col-xs-12 col-sm-12 col-md-4 updated">{{review.updated | date:'dd-MM-yyyy hh:mm'}}</div>
            <div class="col-xs-12 col-sm-12 col-md-12 comment">{{review.comment}}</div>
        </div>
    </div>
</div>