<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">

            <a class="navbar-brand"
               data-ng-href="/#!/">
                <img id="menu_logo"
                     alt="Brand"
                     src="../../../assets/images/menu_logo.png">
            </a>

            <button type="button" class="navbar-toggle navHeaderCollapse"
                    data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand"
               data-ng-class="{ active: isActive('/') }"
               data-ng-href="/#!/">
                Workout Assistant
            </a>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand"
                       data-ng-show="!$ctrl.isLoggedIn()"
                       data-ng-class="{ active: isActive('/register') }"
                       data-ng-href="/#!/register">
                        Zarejestruj
                    </a>
                </li>


                <li>
                    <a class="navbar-brand"
                       data-ng-show="!$ctrl.isLoggedIn()"
                       data-ng-class="{ active: isActive('/login') }"
                       data-ng-href="/#!/login">
                        Zaloguj
                    </a>
                </li>

                <li>
                    <a class="navbar-brand"
                       data-ng-show="$ctrl.isLoggedIn()"
                       data-ng-class="{ active: isActive('/profile') }"
                       data-ng-href="/#!/profile">
                        Profil
                    </a>
                </li>

                <li>
                    <a class="navbar-brand"
                       data-ng-click="$ctrl.logout()"
                       data-ng-show="$ctrl.isLoggedIn()"
                       data-ng-href="/">
                        Wyloguj
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">

                    <a class="navbar-brand"
                       data-toggle="dropdown">
                        Katalog
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                        <li>
                            <a class="navbar-brand"
                               data-ng-class="{ active: isActive('/users') }"
                               data-ng-href="/#!/users">
                                Użytkownicy
                            </a>
                        </li>

                        <li>
                            <a class="navbar-brand"
                               data-ng-class="{ active: isActive('/android-apk') }"
                               data-ng-href="/#!/android-apk">
                                Aplikacja Android
                            </a>
                        </li>

                        <li>
                            <a class="navbar-brand"
                               data-ng-class="{ active: isActive('/exercises') }"
                               data-ng-href="/#!/exercises">
                                Ćwiczenia
                            </a>
                        </li>

                        <li>
                            <a class="navbar-brand"
                               data-ng-class="{ active: isActive('/trainings') }"
                               data-ng-href="/#!/trainings">
                                Treningi
                            </a>
                        </li>

                        <!--<li>-->
                        <!--<a class="navbar-brand"-->
                        <!--data-ng-class="{ active: isActive('/workouts') }"-->
                        <!--data-ng-href="/#!/workouts">-->
                        <!--Workouts-->
                        <!--</a>-->
                        <!--</li>-->

                    </ul>

                </li>
            </ul>

        </div>

    </div>
</nav>