<h1>Workout Assistant</h1>
<h2>Android Application</h2>

<div id="upload-android-apk-form" class="col-sm-8 col-sm-offset-2 col-md-8 col-sd-offset-2"
     data-ng-show="$ctrl.hasAdministrator">

    <h4>Dodaj nową wersję aplikacji</h4>

    <form name="upload_form">
        <input
                id="input-file"
                type="file"
                data-ngf-select
                data-ng-model="$ctrl.file"
                name="file"
                data-ngf-pattern="'.apk'"
                accept="application/vnd.android.package-archive"
                data-ngf-max-size="20MB"/>

        <!--Image thumbnail:-->
        <!--<img style="width:100px;" data-ngf-thumbnail="$ctrl.file || '/thumb.jpg'"/>-->
        <i data-ng-show="$ctrl.upload_form.file.$error.required">*required</i><br>

        <i data-ng-show="$ctrl.upload_form.file.$error.maxSize">File too large
            {{$ctrl.file.size / 1000000|number:1}}MB: max 20M</i>

        <button type="submit" data-ng-click="$ctrl.submit()"
                data-ng-hide="upload_form.$invalid || !$ctrl.file"
                data-ng-disabled="upload_form.$invalid || !$ctrl.file">submit
        </button>
    </form>

</div>

<div id="new-version-available" class="col-sm-8 col-sm-offset-2 col-md-8 col-sd-offset-2"
     data-ng-show="$ctrl.newVersion">
    Nowa wersja dostępna!
</div>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-sd-offset-2" data-ng-show="$ctrl.androidApkListError">
    Nie można pobrać listy, przepraszamy :(
</div>

<div class="col-sm-8 col-sm-offset-2 col-md-8 col-sd-offset-2" data-ng-show="!$ctrl.androidApkListError">
    <div data-ng-repeat="androidApk in $ctrl.androidApkList"
         data-ng-show="$ctrl.androidApkList != undefined && $ctrl.androidApkList.length != 0">
        <a data-ng-href="/api/uploads/android-apk/{{androidApk}}">
            <button class="col-sm-9 col-md-10 btn btn-success">
                {{androidApk}}
            </button>
        </a>
        <button class="col-sm-3 col-md-2 btn btn-danger" data-ng-show="$ctrl.hasAdministrator"
                data-ng-click="$ctrl.deleteAndroidAPK(androidApk)">
            USUŃ
        </button>
    </div>
    <div data-ng-show="$ctrl.androidApkList == undefined || $ctrl.androidApkList.length == 0">
        Niestety, lista jest puta, przepraszamy :(
    </div>
</div>