<div class="trainings">

    <div class="row">

        <div class="col-xs-11 col-sm-3 col-md-3" id="trainings-panel" class="trenings-side-panel">
            <div class="training"
                 data-ng-repeat="training in $ctrl.trainingHeaders"
                 data-ng-click="$ctrl.showTraining(training)"
                 data-ng-class="{chosen: $ctrl.isChosen(training)}">

                <h3>{{training.name}}</h3>
                <h5>{{training.author}}</h5>
                <p>{{training.updated}}</p>

            </div>
        </div>
        <div class="col-xs-11 col-sm-9 col-md-9 training-details">

            <training-details training=$ctrl.chosenTraining()
                              data-ng-show="$ctrl.isTrainingChosen()">
            </training-details>

            <div data-ng-show="!$ctrl.isTrainingChosen()">
                Wybierz coś!
            </div>

        </div>

    </div>
</div>
