.trainings {
    padding: 20px;
}

#trainings-panel {
    max-height: 700px;
    padding: 4px;
    border-radius: 2px;

    overflow: auto;
}

.training {
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    background-color: rgba(60, 118, 61, 0.2);

}
.training:hover{
    cursor: pointer;
}

.active-training {
    background-color: rgba(60, 118, 61, 0.75);
}


.exercise {
    border: 3px solid black;
    border-radius: 25px;
}

.training:nth-child(odd) > .exercise {
    background-color: lightseagreen;
}

.training:nth-child(even) > .exercise {
    background-color: palevioletred;
}