<div id="faq">
    {{$ctrl.message}}
    <div id="accordion">
        <!--<div data-ng-repeat="elem in $ctrl.faq">-->
        <!--<h3>{{elem.title}}</h3>-->
        <!--<p>{{elem.description}}</p>-->
        <!--</div>-->
        <h3>What is this project?</h3>
        <div>
            <p>This project our final project</p>
        </div>
        <h3>Why is this project?</h3>
        <div>
            <p>Because we need graduate</p>
        </div>
        <h3>Who takes care of it?</h3>
        <div>
            <p>Two third year students : Paulina Kozioł & Kamil Gryboś</p>
        </div>
    </div>
</div>